// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}
